<h1><%= @task.title %></h1>
<h2><%= @task.details %></h2>
<h3><%= @task.completed ? "Done" : "Not Done" %></h3>
<%= link_to '<i class="fas fa-home"></i>'.html_safe, root_path %>
<%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_task_path(@task) %>
<%= link_to '<i class="fas fa-trash"></i>'.html_safe, delete_task_path(@task),
    method: :delete,
    data: {confirm: "Are you sure?"}%>